<div class="container">
  <div class="row">
    <div class="category col-lg-12">
      <h3>RATES TABLE of {{base}} in {{date}}</h3>
    </div>
  </div>
  <hr>
  <div class="container">
    <table id="mytable"  class="table table-bordred table-striped">
      <thead>
        <th>US Dollar</th>
        <th>1.00 USD</th>
        <th>add 10.0002</th>
      </thead>
      <tbody>
        <tr *ngFor="let r of data">
          <td>{{r.key}}</td>
          <td [style.border]="getStyle(r.rate,r.key)">{{r.rate}}</td>
          <td [style.border]="getStyle(r.addTen,r.key)">{{r.addTen}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>